html,body {
    font-size: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
a,a:hover{ text-decoration:none; color:#333}
ul,div,li,p {
    padding: 0;
    margin: 0; 
    list-style: none;
}
image {
    border: none;
}
.hr {
    width: 90%;
    margin: 0 auto;
    border-bottom: 0.01rem solid #D0D0D0;


} 
container {
    display: block;
    width: 100%;
}
.albums {
    width: 100%;
    margin:0 0 2rem 0;
}
.img {
    width: 100%;
    height: 20rem;
    overflow: hidden;
}
.img img {
    width: 100%;  
    height: auto;      
}

.title {
    font-weight: bold;
    margin: 1rem 2rem;
    font-size: 20px;
    height: 2rem;
}

.collect-like {
    color: #7B7B7B;
    font-size: 16px;
    margin-left: 2rem;
}
.look {
    margin-left: 0.5rem;
}

.introduce {
    margin:2rem 2rem;
    font-size: 12px;
}
.burden {
    margin: 2rem 2rem;
}
.burden .top {
    font-size: 14px;
}
.more,.less {
    margin: 0.5rem 2rem;
    font-size: 12px;
}
.cook {
    margin: 0 2rem;
}
.cook .top {
    font-size: 14px;
}
.step {
    margin: 0 2rem;
}

.step-detail {
    font-size: 12px;
    overflow: hidden;
}
.step-detail img {
    width: 100%;
    height: auto;
}

bar {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #ffffff;
    line-height: 5rem; 
    padding: 0 2rem 0 3rem;
    box-sizing: border-box;
    border-top: 0.02rem solid #D0D0D0;
}
.leave {
    padding-left: 0.5rem;
    float: right;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    margin-top: 1.25rem;
    outline:none;
    border: none;
    width: 10rem;
    height: 2.5rem;
    vertical-align: middle;
}
bar i {
    float: left;
}
.collect {
    margin-right: 2rem;
}

state {
    position: fixed;
    bottom: 50%;
    left: 30%;
    font-size: 16px;
    text-align:center;
    height: 4rem;
    line-height: 4rem;
    width:40%;
    color: #ffffff;
    opacity: 0.7;
    border-radius: 0.5rem;
    background-color: #000000;
    display: none;
}
.hr3 {
    background-color: #fcfcfc;
    width: 100%;
    height: 0.6rem;
}
.comment {
    width:100%;
    box-sizing: border-box;
    padding: 0 2rem;
    margin:1rem 0 6rem 0;
    font-size: 18px;
}
.comment-list {
    font-size: 16px;
    padding: 1rem 2rem;
}
.comment-icon {
    float: left;
    color: #7B7B7B;
}
.comment-time {
    font-size: 13px;
    float: right;
    color: #7B7B7B;
}
.clean {
    clear: both;
}

.comment-detail {
    margin: 0.5rem 0 0.5rem 0;
}
.block-ul {
    padding: 0.5rem 0 2rem 2rem;
}
/*.block-ul li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}*/
.block-ul p {
    position: relative;
    font-size: 13px;
    right: 0;
    color:  #7B7B7B;
    text-align: right;
}
.block-ul-name {
    color: #000000;
}
.block-ul-detail {
    width: 100%;
    color: #7B7B7B;
    
word-break: break-all;

}