
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496588058891'); /* IE9*/
  src: url('iconfont.eot?t=1496588058891#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496588058891') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496588058891') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496588058891#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before { content: "\e621"; }

.icon-liulan:before { content: "\e639"; }

.icon-shoucang:before { content: "\e610"; }

.icon-shicai:before { content: "\e63b"; }

.icon-pengren:before { content: "\e60e"; }

