<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= data[0].menu_title%></title>
    <link rel="stylesheet" href="/static/iconfont/iconfont.css" />
    <link rel="stylesheet" href="/static/css/page.css" />
</head>
<body>
    <container>
        <div class="albums">
            <div class="img">
                <img src="/static/img/albums/<%= data[0].menu_albums%>"/>
            </div>
            <div class="title"><%= data[0].menu_title%></div>
            <div class="collect-like">
                <i class="iconfont icon-liulan" style="font-size:20px;"></i>
                <span class="look"><%= data[0].menu_like%></span>
            </div>
        </div> 
        <div class="hr"></div>
        <div class="introduce">
            <%= data[0].menu_introduce%>
        </div>
        <div class="hr"></div>
        <div class="burden">
            <div class="top">
                <i class="iconfont icon-shicai" style="font-size:16px;"></i>
                <span>食材</span>
            </div>
            <div class="more">主要材料:<%= data[0].menu_major%></div>
            <div class="less">配料:<%= data[0].menu_burden%></div>
        </div>
        <div class="cook">
            <div class="top">
                <i class="iconfont icon-pengren" style="font-size:16px;"></i>
                    <span>烹饪步骤</span>
            </div>
            <ul class="step">
                <%data[0].step.forEach(function(item) {%>
                    <li class="step-detail">
                        <p><%= item.step_detail%><p>
                        <img src="/static/img/step/<%= item.step_img%>" />
                    </li>
                <%})%>
            </ul>
        </div>
        <div class="hr3"></div>
        <div class="comment" id="comment">
            <i class="iconfont icon-pinglun" style="font-size:18px;"></i>
            <span>评论</span>
            <ul class="comment-list">
                <%comment.forEach(function(item) {%>
                    <li class="comment-block">
                        <span class="comment-name"><%= item.write_name%></span>
                        <p class="comment-detail"><%= item.comment_detail%></p>
                        <i class="iconfont icon-pinglun comment-icon" style="font-size:13px;">回复</i>
                        <span class="comment-time"><%= format(item.comment_time)%></span>
                        <div class="clean"></div>
                        <ul class="block-ul">
                            <%item.reply.forEach(function(e) {%>
                            <li>
                                <span class="block-ul-name"><%= e.write_name%>：</span>
                                <span class="block-ul-detail">111111111111111111111111111111111111111111111111<%= e.reply_detail%></span>
                                <p><%= format(e.reply_time)%></p>
                            </li>
                            <%})%>
                        </ul>
                    </li>
                <%})%>
            </ul>
        </div>
    </container>
    <state class="state">
    </state>
    <bar>
        <i class="iconfont icon-shoucang collect" style="font-size:28px;"></i>
        <a href="#comment"><i class="iconfont icon-pinglun" style="font-size:28px;"></i></a>
        <input type="text" class="leave" placeholder="评论..." />
    </bar>
    <script>
        console.log(<%= user_id%> === undefined)
        var menu_id=<%= data[0].menu_id%>;
        var user_id=<%= user_id%> === undefined ? '' : <%= user_id%>;
    </script>
    <script src="/static/js/page.js"></script>
</body>
</html>